html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  margin-top: 9.4rem;
  font-weight: bold;
  color: #333333;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  opacity: 0.7;
}

.contact-btn {
  color: #fff;
  width: 15.5rem;
  height: 3.7rem;
  text-align: center;
  line-height: 3.7rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.116);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.116);
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: linear-gradient(to right, #FA41CC, #6020B0);
  font-size: 1.4rem;
  display: block;
}

.accordion {
  margin-top: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.accordion-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.accordion-title {
  background-color: #fff;
  border-top: 0.1rem solid #E5E5E5;
  font-size: 1.4rem;
  padding: 2.2rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.accordion-title:last-of-type {
  border-bottom: 1px solid #E5E5E5;
}

.accordion-title::before, .accordion-title::after {
  content: '';
  display: block;
  background-color: #726d6d;
  position: absolute;
  top: 50%;
  width: 1.5rem;
  height: 0.2rem;
  right: 2.5rem;
}

.accordion-title::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.accordion-title:hover,
.accordion-title:active,
.accordion-title.is-active {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.accordion-title.is-active::before {
  opacity: 0;
}

.accordion-title.is-active::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.accordion-content {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  font-size: 1.4rem;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.accordion-content.is-open {
  background-color: #F2F2F2;
  padding: 3rem;
  height: auto;
  opacity: 1;
}

.down-to-top {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all .7s;
  transition: all .7s;
}

.left-to-right {
  opacity: 0;
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.zoom {
  opacity: 0;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: all .8s;
  transition: all .8s;
}

.scrollin {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  top: 22px;
  right: 30px;
  z-index: 5;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #333;
  -webkit-box-shadow: 0 0 2rem transparent;
          box-shadow: 0 0 2rem transparent;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hamburger:hover, .hamburger:focus {
  -webkit-box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
          box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
}

.hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #333;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger__line::before, .hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
  -webkit-transition: inherit;
  transition: inherit;
}

.drawer-background {
  position: fixed;
  z-index: 3;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.is-drawerActive .sp-global-menu {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-drawerActive .drawer-background {
  visibility: visible;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger__line::before {
  top: -5px;
}

.hamburger__line::after {
  top: 5px;
}

.hamburger[aria-expanded="true"] {
  border: 1px solid #000 !important;
}

.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line::before, .hamburger[aria-expanded="true"] .hamburger__line::after {
  top: 0;
  background-color: #000;
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sp-global-menu {
  position: fixed;
  z-index: 5;
  width: 280px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #fff;
  color: #333333;
  -webkit-transform: translateX(280px);
          transform: translateX(280px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header {
  width: 100%;
  height: 9.4rem;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.116);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.116);
  position: fixed;
  z-index: 9999;
}

.header-inner {
  max-width: 102.2rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 0 2rem;
}

.header-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo img {
  width: 4.7rem;
  height: 4,7rem;
}

.header-logo h2 {
  margin-left: 1.6rem;
  font-size: 2.4rem;
  font-weight: bold;
}

@media (max-width: 850px) {
  .header-nav {
    display: none;
  }
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav li {
  margin-right: 4.6rem;
  text-align: center;
}

.header-nav li:last-child {
  margin-right: 0;
}

@media (max-width: 850px) {
  .tab-btn {
    display: none;
  }
}

.sp-mode {
  display: none;
}

@media (max-width: 850px) {
  .sp-mode {
    display: block;
  }
}

.sp-list {
  display: inline;
  text-align: center;
  font-size: 2rem;
  margin-top: 4rem;
}

.sp-list-item {
  margin-top: 5rem;
}

.sp-list-item:hover {
  text-decoration: underline;
}

.sp-list a {
  display: block;
}

.main {
  background-image: url(/img/circle.png);
  background-repeat: no-repeat;
  background-position: top -15rem right -12rem;
  background-size: auto;
}

.main-inner {
  max-width: 102.2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .main-inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 576px) {
  .main-inner {
    padding: 5rem 0 0 0;
  }
}

.main-copy {
  margin-top: 3rem;
  text-align: left;
}

@media (max-width: 576px) {
  .main-copy {
    text-align: center;
  }
}

.main-copy h2 {
  font-size: 3.2rem;
}

.main-copy p {
  margin-top: 3.8rem;
  margin-bottom: 3.8rem;
}

.main-img {
  width: 50%;
}

@media (max-width: 576px) {
  .main-img {
    text-align: center;
    margin-top: 4rem;
    width: 60%;
    height: auto;
  }
}

.sp-center {
  display: inline-block;
  text-align: center;
}

.contents-inner {
  max-width: 102.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15rem;
}

@media (max-width: 576px) {
  .contents-inner {
    margin-bottom: 5rem;
  }
}

.contents-ttl {
  padding-top: 8rem;
  text-align: center;
  font-size: 3.2rem;
}

.contents-ttl span {
  display: block;
  color: #3BA6C9;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.contents-header h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.contents-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .contents-header-inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contents-header-inner div {
  padding-left: 2rem;
  padding-right: 2rem;
}

.contents-header-inner h3 {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}

@media (max-width: 850px) {
  .contents-header-inner h3 {
    text-align: center;
    margin-top: 4rem;
  }
  .contents-header-inner h3 br {
    display: none;
  }
}

.contents-header-inner p {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

@media (max-width: 850px) {
  .contents-header-inner p {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .contents-header-inner figure {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.price {
  background-color: #EEFBFB;
  padding-bottom: 7rem;
  padding-top: 6rem;
}

.price-inner {
  max-width: 102.2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.price-inner h2 {
  font-size: 3.2rem;
}

.price-inner span {
  display: block;
  color: #3BA6C9;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.price-inner p {
  margin-top: 4rem;
}

.price-table {
  padding-left: 3rem;
  padding-right: 3rem;
}

.price-table table {
  margin-top: 7rem;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.116);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.116);
}

.price-table table th {
  width: 30%;
  padding: 3rem 2.5rem;
  border: 0.1rem solid #E5E5E5;
}

.price-table table td {
  width: 70%;
  text-align: left;
  border: 0.1rem solid #E5E5E5;
  padding-left: 3rem;
}

@media (max-width: 850px) {
  .price-table table td {
    text-align: center;
    padding: 0;
  }
}

.question {
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.question-inner {
  max-width: 102.2rem;
  margin-left: auto;
  margin-right: auto;
}

.question-inner h2 {
  font-size: 3.2rem;
  text-align: center;
}

.question-inner .span {
  display: block;
  color: #3BA6C9;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.br::before {
  content: "\A";
  white-space: pre;
  color: #333333;
  margin-top: 1rem;
}

.blog {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #EEFBFB;
}

.blog-inner {
  width: 100%;
}

.blog-inner h2 {
  font-size: 3.2rem;
  text-align: center;
}

.blog-inner span {
  display: block;
  color: #3BA6C9;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.blog-conteinar {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 850px) {
  .blog-conteinar {
    width: 95%;
  }
  .blog-conteinar br {
    display: none;
  }
}

@media (max-width: 576px) {
  .blog-conteinar {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.blog-imgs {
  width: calc((100%-6%) / 3);
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  margin-right: 3%;
  position: relative;
}

@media (max-width: 576px) {
  .blog-imgs {
    width: 90%;
    display: block;
    margin-right: 0;
    text-align: center;
    margin-top: 3rem;
  }
}

.blog-imgs:last-child {
  margin-right: 0;
}

.blog-imgs div:hover {
  opacity: 0.7;
}

.blog-imgs h3 {
  font-size: 1.8rem;
  padding: 1.9rem;
  padding-bottom: 3.8rem;
  text-align: left;
}

@media (max-width: 850px) {
  .blog-imgs h3 {
    font-size: 1.6rem;
  }
}

.blog-imgs time {
  bottom: 1.1rem;
  right: 3.8rem;
  position: absolute;
}

.works {
  padding-top: 6rem;
  padding-bottom: 9rem;
}

.works-inner h2 {
  font-size: 3.2rem;
  text-align: center;
}

.works-inner .span {
  display: block;
  color: #3BA6C9;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.swiper-container {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide:hover {
  opacity: 0.7;
}

.swiper-slide-div {
  padding: 2.4rem 1.9rem 3.4rem 1.9rem;
  border: 0.1rem solid #DDDDDD;
  border-radius: 0.3rem;
  height: auto;
}

.swiper-slide-div h2 {
  text-align: left;
  font-size: 1.6rem;
}

@media (max-width: 850px) {
  .swiper-slide-div h2 br {
    display: none;
  }
}

.swiper-slide-div p {
  font-size: 1.4rem;
  padding-top: 3.2rem;
}

.swiper-slide-div p span {
  display: block;
}

.contact {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), to(#63FBD7));
  background: linear-gradient(to right, #05A5FA, #63FBD7);
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.contact-inner {
  color: #fff;
}

.contact-inner h2 {
  font-size: 3.2rem;
  text-align: center;
}

.contact-inner .span {
  display: block;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.contact-inner h3 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.6rem;
}

.contact-form {
  max-width: 90.8rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 4rem 6.9rem;
  color: #333333;
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.116);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.116);
}

@media (max-width: 850px) {
  .contact-form {
    padding: 3rem 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.contact-ttl label {
  font-size: 1.6rem;
}

.contact-ttl span {
  margin-left: 2.2rem;
  background-color: #0C449B;
  border-radius: 1rem;
  color: #fff;
  width: 6rem;
  height: 3rem;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  font-size: 1.4rem;
}

.contact-input input {
  background-color: #EEFBFB;
  border-radius: 0.3rem;
  border: none;
  max-width: 50rem;
  width: 100%;
  height: 4.3rem;
  margin-top: 4.3rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
}

.contact-input textarea {
  border: none;
  background-color: #EEFBFB;
  height: 17.9rem;
  margin-top: 4rem;
  margin-bottom: 3.2rem;
  max-width: 78rem;
  width: 100%;
  resize: none;
  border-radius: 0.3rem;
  line-height: 2;
  padding-left: 1rem;
  padding-top: 1rem;
}

.contact-policy {
  text-align: center;
}

.contact-policy label {
  display: inline-block;
  position: relative;
  padding-left: 2em;
  line-height: 1.5rem;
}

.contact-policy input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
}

.submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.3rem;
  margin-bottom: 2rem;
  border: none;
  font-weight: bold;
}

.alert {
  font-size: 1.6rem;
  text-align: center;
  color: red;
  visibility: hidden;
}

.close {
  opacity: 0.4;
}

.block {
  visibility: visible;
}

.end-message {
  display: none;
}

.false-message {
  display: none;
}

footer {
  text-align: center;
}

footer h2 {
  font-size: 2.4rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

@media (max-width: 576px) {
  footer h2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
}

footer h3 {
  font-size: 1.6rem;
  margin-bottom: 6rem;
}

@media (max-width: 576px) {
  footer h3 {
    margin-bottom: 2rem;
  }
}

footer h3 span {
  margin-left: 3rem;
}

@media (max-width: 576px) {
  footer h3 span {
    display: block;
    margin-left: 0;
    margin-top: 2rem;
  }
}

footer small {
  padding-bottom: 5rem;
  font-size: 1.4rem;
}
/*# sourceMappingURL=style.css.map */